:root {
  --header-font: "Arimo";
  --body-font: "Source Sans Pro";
  --gr-5: #f7f7f7;
  --gr-1: #f2f2f2;
  --gr-2: #eaeaea;
  --gr-3: #dddddd;
  --gr-4: #c9c9c9;
  --gr-5: #a8a8a8;
  --gr-6: #898989;
  --gr-7: #6c6c6c;
  --gr-8: #515151;
  --gr-9: #3b3b3b;

  --blue5: #ecfeff;
  --blue1: #e5faff;
  --blue2: #cbedff;
  --blue3: #c4e2ff;
  --blue4: #b9d2ff;
  --blue5: #94abff;
  --blue6: #7f87ff;
  --blue7: #6456ff;
  --blue8: #3c01ff;
  --blue9: #1200d6;

  --gray-0: #f9f9fa;
  --gray-1: #ededf1;
  --gray-2: #e0e0e7;
  --gray-3: #d2d2dc;
  --gray-4: #c3c3d0;
  --gray-5: #b2b2c2;
  --gray-6: #9e9eb3;
  --gray-7: #8787a1;
  --gray-8: #6a6a87;
  --gray-9: #3e3e4f;
  --indigo-0: #f9f9ff;
  --indigo-1: #ececff;
  --indigo-2: #dedeff;
  --indigo-3: #cfcfff;
  --indigo-4: #bebeff;
  --indigo-5: #ababff;
  --indigo-6: #9595ff;
  --indigo-7: #7979ff;
  --indigo-8: #5252ff;
  --indigo-9: #0000d9;
  --violet-0: #fcf8ff;
  --violet-1: #f4e9ff;
  --violet-2: #ecdaff;
  --violet-3: #e3c8ff;
  --violet-4: #dab5ff;
  --violet-5: #cf9eff;
  --violet-6: #c184ff;
  --violet-7: #b061ff;
  --violet-8: #9328ff;
  --violet-9: #5600ad;
  --fuschia-0: #fff7ff;
  --fuschia-1: #ffe6ff;
  --fuschia-2: #ffd3ff;
  --fuschia-3: #ffbdff;
  --fuschia-4: #ffa4ff;
  --fuschia-5: #ff84ff;
  --fuschia-6: #ff55ff;
  --fuschia-7: #f100f1;
  --fuschia-8: #c000c0;
  --fuschia-9: #740074;
  --pink-0: #fff7fb;
  --pink-1: #ffe7f3;
  --pink-2: #ffd5ea;
  --pink-3: #ffc1e0;
  --pink-4: #ffabd5;
  --pink-5: #ff8fc7;
  --pink-6: #ff6ab5;
  --pink-7: #ff2994;
  --pink-8: #d4006a;
  --pink-9: #800040;
  --red-0: #fff8f8;
  --red-1: #ffe8e8;
  --red-2: #ffd7d7;
  --red-3: #ffc5c5;
  --red-4: #ffafaf;
  --red-5: #ff9595;
  --red-6: #ff7474;
  --red-7: #ff3e3e;
  --red-8: #db0000;
  --red-9: #850000;
  --orange-0: #fff8f2;
  --orange-1: #ffead5;
  --orange-2: #ffdab6;
  --orange-3: #ffc992;
  --orange-4: #ffb469;
  --orange-5: #ff9b36;
  --orange-6: #fa7d00;
  --orange-7: #d66c00;
  --orange-8: #a95500;
  --orange-9: #643200;
  --yellow-0: #ffff97;
  --yellow-1: #f5f500;
  --yellow-2: #e8e800;
  --yellow-3: #dada00;
  --yellow-4: #caca00;
  --yellow-5: #b9b900;
  --yellow-6: #a5a500;
  --yellow-7: #8e8e00;
  --yellow-8: #707000;
  --yellow-9: #424200;
  --lime-0: #eeffde;
  --lime-1: #c4ff88;
  --lime-2: #7ffd00;
  --lime-3: #77ee00;
  --lime-4: #6fdd00;
  --lime-5: #65ca00;
  --lime-6: #5bb400;
  --lime-7: #4e9b00;
  --lime-8: #3d7a00;
  --lime-9: #244800;
  --green-0: #eaffea;
  --green-1: #b7ffb7;
  --green-2: #62ff62;
  --green-3: #00f400;
  --green-4: #00e300;
  --green-5: #00d000;
  --green-6: #00ba00;
  --green-7: #00a000;
  --green-8: #007e00;
  --green-9: #004b00;
  --teal-0: #e7fff3;
  --teal-1: #abffd5;
  --teal-2: #3dff9e;
  --teal-3: #00f27a;
  --teal-4: #00e171;
  --teal-5: #00ce67;
  --teal-6: #00b85c;
  --teal-7: #009e4f;
  --teal-8: #007d3f;
  --teal-9: #004a25;
  --cyan-0: #e3ffff;
  --cyan-1: #94ffff;
  --cyan-2: #00fafa;
  --cyan-3: #00eaea;
  --cyan-4: #00dada;
  --cyan-5: #00c7c7;
  --cyan-6: #00b2b2;
  --cyan-7: #009999;
  --cyan-8: #007979;
  --cyan-9: #004747;
  --blue-0: #f5faff;
  --blue-1: #e0efff;
  --blue-2: #c9e4ff;
  --blue-3: #afd7ff;
  --blue-4: #93c9ff;
  --blue-5: #71b8ff;
  --blue-6: #49a4ff;
  --blue-7: #1288ff;
  --blue-8: #006ad4;
  --blue-9: #003f7e;
}
