@use "../styles" as *;

@mixin TOC_LINKS {
    appearance: none;

    @include bem-state('active') {
        color: var(--blue-2);
    }
    @include bem-nativeState('hover') {
        color: var(--blue-2);
    }
}

@mixin TOC_PADDING {
    padding: 0 24px;
}

.toc {
    position: sticky;
    top: 0px;

    @include bem-element('button') {
        @include bem-modifier('close') {
            appearance: none;
        }
    }
    @include bem-element('border') {
        @extend .toc;
        border-left: 3px solid var(--blue-5);
        margin-left: -24px;
        padding-left: 21px;
    }

    @include bem-element('content') {
        height: calc(100% - 24px);
        overflow-y: auto;
        @include bem-element('link-icon') {
            vertical-align: middle;
        }

        @include TOC_PADDING;
    }
    @include bem-element('header') {
        margin-bottom: 12px;
        margin-top: 12px;
        @include bem-element('link') {
            font-family: 'Arial';
            font-size: 1.2rem;
            font-weight: 500;

            @include TOC_LINKS;
        }
    }
    @include bem-element('label') {
        display: flex;
        height: 40px;
        justify-content: space-between;
        @include TOC_PADDING;
        * {
            font-size: 0.9rem;
            height: 40px;
            line-height: 40px;
            vertical-align: middle;
        }
    }
}

.list {
    --list-item-padding: 0%;
    margin: 0;
    padding: 0;
    @include std-reset-link;
    @include std-reset-list;
    @include bem-element('item') {
        list-style-type: none;
        @include bem-element('link') {
            font-size: 1rem;
            margin-left: var(--list-item-padding);
            @include std-reset-link;
            @include bem-state('active') {
                color: var(--blue8);
            }
        }
        @include bem-state('bordered') {
            border: 2px dotted blue;
        }
    }
}
