@use "../styles" as *;
.header {
  margin-block-start: 0px;
  /*
  span.one {
    clip-path: circle(80% at 2% -330%);
    background: var(--blue-2);
    width: 100%;
    height: 101%;
    position: absolute;
    top: 0px;
    z-index: -1;
  }
  span.two {
    clip-path: circle(80% at 2% -300%);
    background: var(--blue-4);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    z-index: -2;
  }
  span.three {
    z-index: -2;
    clip-path: circle(80% at 2% -270%);
    background: var(--blue-6);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    z-index: -3;
  }
  span.four {
    clip-path: circle(80% at 2% -240%);
    background: var(--blue-8);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    z-index: -4;
  }
  span.five {
    clip-path: circle(80% at 2% -210%);
    background: var(--blue-9);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    z-index: -5;
  }
*/
  @include bem-element("title") {
    font-family: "JetBrains Mono";
    font-size: 35px;
    margin-block-start: 0px;
  }
}
