@use '../styles' as *;

.navigation {
  @include std-reset-list;
  @include std-reset-link;
  list-style-type: none;
  border: 1px dotted var(--gr-5);
  padding-inline: 0px;
  background-color: var(--gr-1);
  box-shadow: inner 0px 0px 4px 1px black;
  height: 100%;
  padding-top: 30px;
  @include bem-element("header") {
    @include font-headline2;
    margin-left: 0.5rem;
    padding-left: 0.25rem;
    margin-block: 0px;
    font-weight: 600;
  }
  @include bem-element("item") {
    @include bem-element("link") {
      margin: 0.25rem;
      padding: 0.5rem 0 0.5rem 0.5rem;
      height: 1em;
      color: black;
      display: block;

      @include bem-nativeState("hover") {
        text-decoration: underline !important;
      }
      @include bem-pseudoElement("before") {
        background-image: url("./cottage.svg");
        content: "";
      }
    }

    @include bem-nativeState("active") {
      color: black;
    }
  }
}
